
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	
<link rel="shortcut icon" type="/favicon.ico">

<title>Hapkido Classes Raleigh, NC - Martial Arts - Brazilian Jiu-Jitsu - Judo</title>

<meta name='description' content='Veritema, based in Raleigh, NC specialize in Small Circle Hapkido Classes, Martial Arts Training, Brazilian Jiu-Jitsu, Judo, Tai Chi. Get 50% off on your first month!' />

<link rel="canonical" href="http://veritema.com/" />
<meta name="author" content="veritema">
<meta name="keywords" content="Hapkido, Martial Arts, Brazilian Jiu-Jitsu, Judo, Tai Chi, BJJ, private lessons, law enforcement training, safety training, korean, bjj, taekwondo, women self defense, self defense, grappling, black belt, mentor, life coach, body guard training, executive protection">
<meta property="og:url" content="http://veritema.com/">
<meta property="og:site_name" content="veritema">
<meta property="og:type" content="website">
<meta property="og:title" content="Hapkido Classes Raleigh, NC - Martial Arts - Brazilian Jiu-Jitsu - Judo">
<meta property="og:image" content="http://veritema.com/images/slider/image2.jpg">
<meta property="og:image:secure_url" content="http://veritema.com/images/slider/image2.jpg">
<meta property="og:description" content="Veritema, based in Raleigh, NC specialize in Small Circle Hapkido Classes, Martial Arts Training, Brazilian Jiu-Jitsu, Judo, Tai Chi. Get 50% off on your first month!">
<meta name="twitter:site" content="4kickbox">
<meta name="twitter:card" content="summary">
	
<meta name="geo.region" content="US-NC" />
<meta name="geo.placename" content="Raleigh" />
<meta name="geo.position" content="35.822173;-78.631919" />
<meta name="ICBM" content="35.822173, -78.631919" />

	<meta name="google-site-verification" content="MFDUJAGj2IN_utocz61bknVHjtONNGYCHyoCH9SINsk" />
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103801212-1', 'auto');
  ga('send', 'pageview');

</script>
	
    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("/css/bootstrap-responsiveness.css")" rel="stylesheet" />
    <link href="@Url.Content("/css/spacelab.css")" rel="stylesheet" />
    <link href="@Url.Content("/css/font-awesome-4.6.3/css/font-awesome.min.css")" rel="stylesheet" />
    
    <link href="@Url.Content("/css/carousel.css")" rel="stylesheet" />


    <style>
        .navbar-brand {
            margin-top: -75px;
            margin-left: 20px;
            z-index: 100;
            width: auto;
        }

        .navbar-header-custom {
            display: inline-block;
            margin-left: 180px;
            margin-top: 15px;
            font-size: 18px;
            font-weight: bold;
            color: lightgrey;
        }

        .navbar-header-custom-small {
            margin-left: 150px;
            margin-top: 15px;
            font-size: 14px;
            font-weight: bold;
            color: lightgrey;
        }


        .main-content {
            display: inline-block;
            margin-left: 10%;
            margin-top: 0px;
        }

        .navbar-top > li > a {
            padding-left: 2px;
            padding =right: 2px;
        }
    </style>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/js/bootstrap-collapse.js")"></script>
    <script src="@Url.Content("~/js/jquery.jplayer.min.js")"></script>
    @RenderSection("JavaScript", false)
    <script type="text/javascript">
        $(document).ready(function () {@RenderSection("OnDocumentReady",false) });
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid col-lg-12 col-md-12">
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="hidden-xs">
                            <h1 class="navbar-header-custom"><span>SMALL CIRCLE HAPKIDO</span></h1>
                        </div>
                        <div class="hidden-lg hidden-md hidden-sm pull-left">
                            <h3 class="navbar-header-custom-small"><span>SMALL CIRCLE HAPKIDO</span></h3>
                        </div>
                    </div>

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right navbar-top">
                            <li><a href="https://www.facebook.com/chris.tricoli.7" target="_blank"><img src="/images/social-icons/facebook2.png" border="0" alt="Hapkido Classes Raleigh" /></a></li>
                            <li><a href="https://twitter.com/intent/follow?screen_name=4kickbox" target="_blank"><img src="/images/social-icons/twitter2.png" border="0" alt="Brazilian Jiu-Jitsu" /></a></li>
                            <li><a href="http://www.4kickbox.com/" target="_blank"><img src="/images/social-icons/rima_logo.png" border="0" alt="Brazilian Jiu-Jitsu" width="33" height="29" /></a>   </li>
                        </ul>

                    </div>

                </div>
            </nav>
            <nav class="navbar navbar-default navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/Home">
                            <!--
                           <img alt="Brand" src="~/images/NEW-HKD-LOGO_2.gif" width="160" height="160" />
                            -->   
                            <div class="hidden-xs hidden-sm">
                                <img alt="Brand" src="~/images/logo.png"  />
                            </div>
                                <div class="hidden-lg hidden-md col-sm-4 col-xs-4" id="smallLogoDiv">
                                    <img alt="Brand" src="~/images/logo.png" width="60" height="60" />
                                </div>
                        </a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/Home">Home</a></li>
                            <li><a href="/Events">Events</a></li>
                            <li class="dropdown">
                                <a href="/Classes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Classes<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Classes/Hapkido">Hapkido</a></li>
                                    <li><a href="/Classes/BJJ">Brazilian Jiu-Jitsu</a></li>
                                    <li><a href="/Classes/Kickboxing">Fitness Kickboxing</a></li>
                                    <li><a href="/Classes/Judo">Judo</a></li>
                                    <li><a href="/Classes/MuayThai">Muay Thai</a></li>
                                    <li><a href="/Classes/Taichi">Tai Chi</a></li>
                                </ul>
                            </li>
                            <li><a href="/Schedule">Schedule</a></li>
                            <li><a href="/Memberships">Memberships</a></li>
                            <li><a href="/Gallery">Gallery</a></li>
                            <li><a href="/News">News</a></li>
                            <li class="dropdown">
                                <a href="/Contact" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Contact/Directions">Directions</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="/Specialties" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Specialties<span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li><a href="/Specialties/LawEnforcement">Law Enforcement</a></li>
                                    <li><a href="/Specialties/WeaponsTraining">Weapons Training</a></li>
                                    <li><a href="/Specialties/ProtectionTraining">Executive Protection</a></li>
                                    <li><a href="/Specialties/Seminars">Seminars</a></li>
                                    <li><a href="/Specialties/PrivateLessons">Private Lessons</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div class="breadcrumb hidden-sm hidden-xs">
                <ul class="breadcrumb" id="headerBreadCrumbs">
                    <li><a href="#">Home</a></li>
                    <li class="active">Classes</li>
                    <li class="active">Hapkido</li>
                </ul>
            </div>
            @RenderBody()
             
<h2>
                <div class="col-md-4 col-lg-4" style="padding-top: 15px; padding-bottom: 15px">
                    <span class="title1">
                        <span class="badge" style="background-color: #404040"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
                        HOME TRAINING AVAILABLE
                    </span>
                </div>
</h2><h2>
                <div class="col-md-4 col-lg-4" style="padding-top: 15px; padding-bottom: 15px">
                    <span class="title1">
                        OPEN 10 SERVICE OPTIONS
                    </span>
                </div>
</h2><h2>
                <div class="col-md-4 col-lg-4" style="padding-top: 15px; padding-bottom: 15px">
                    <span class="title1">
                        <span class="badge" style="background-color: #404040"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></span>
                        FREE PT WITH MEMBERSHIP
                    </span>
                </div>
</h2>
            <div id="footerwrap" class="col-lg-12 col-md-12">
                <div id="footer">

                    <div class="col-lg-4 col-md-4">

                        <p style="font-size:large"><i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>About Small Circle Hapkido</p>
                        As the official martial art of the South Korean Secret Service, Hapkido contains both long and close range fighting techniques which utilizes dynamic kicks and percussive hand strikes at longer ranges, joint locks, or throws at closer fighting distances.
                        Hapkido emphasizes circular motion, non-resisting movements, and control of the opponent.
                        Practitioners seek to gain advantage through footwork and body positioning to employ leverage, avoiding the use of strength against strength and much-much more.

                    </div>

                    <div class="col-lg-4 col-md-4">
                        <p style="font-size:large"> <i class="fa fa-2x fa-newspaper-o" aria-hidden="true"></i> Latest Headlines</p>
                        <div class="custom_footer">
                            <ol>
                                <li>Small Circle Hapkido Uniforms and attire coming soon</li>
                                <li>Hapkido No holds bar Tournament coming soon.</li>
                                <li>Hapkido promotions</li>
                                <li>Hapkido seminars for the year</li>
                            </ol>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-4">
                        <p style="font-size:large"> <i class="fa fa-2x fa-volume-control-phone"></i>  Contact Us</p>


                        <div class="custom_footer">
                        </div>
                        <p><strong>Raleigh Institute of Martial Arts</strong><br /><strong>Small Circle Hapkido</strong></p>
                        <p><strong>601 East Six Forks Road<br />Raleigh, NC 27609<br />Primary Phone:</strong>&nbsp; &nbsp;919-601-7534 <br /><strong>Alternate Phone:</strong>&nbsp;919-828-4447</p>
                        <p>
                            <a href="/Contact/Directions" target="_self">Get Directions</a><br /><br />Email:


                            <br /><br />
                        </p>
                        <p><a href="http://www.facebook.com/rima.kickboxNC" target="_blank"><img src="/images/social-icons/facebook2.png" border="0" alt="Brazilian Jiu-Jitsu" /></a>&nbsp;<a href="https://twitter.com/intent/follow?screen_name=4kickbox" target="_blank"><img src="/images/social-icons/twitter2.png" border="0" alt="Brazilian Jiu-Jitsu" /></a>&nbsp;<a href="http://4kickbox.com/" target="_blank"><img src="/images/social-icons/rima_logo.png" border="0" alt="Brazilian Jiu-Jitsu" width="33" height="29" style="cursor: se-resize !important;" /></a></p>
                    </div>
                </div>


            </div>

        </div>
      
    </div>
    <
    <script type="text/javascript">
        $(document).ready(function () {
            // clear it out with pure javascript - quicker
            $("#headerBreadCrumbs").text('');
            $("#headerBreadCrumbs").append("<li><a href='/Home'>Home</a></li>");
        });

    
        $('.navbar .dropdown').hover(function () {
            $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();

        }, function () {
            $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();

        });

        $('.navbar .dropdown > a').click(function () {
            location.href = this.href;
        });

        // 12.067.2016 - the video player stuff in place of the landing page carousel control
        // get the width and height attributes for destination div prior to jwplayer initialization
        /*
        var playerdiv = $("#myCarousel");
        var playerWidth = playerdiv.width();
        var playerHeight = playerdiv.height();

          var player = jwplayer('myCarousel');
        player.setup({
            file: "http://www.veritema.com/api/camera/fromvideo?videoName=small_circle_mtn",
            autostart: true,
            stretching: "exactfit",
            width: playerWidth,
            height: playerHeight,

        });
        */
    </script>




</body>
</html>