
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb">

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Martial Arts Self Defense Brazillian Ju-Jitsu Muay Thai" />
    <meta name="description" content="Raleigh Martial Arts Training &amp; Self Defense Lessons. Build self confidence through training Hapkido, BJJ, or Muay Thai!" />
    <meta name="generator" content="Joomla! - Open Source Content Management" />
    <title>SMALL CIRCLE HAPKIDO |  Self Defense &amp; Martial Arts Training</title>
    <link href="/index.php?format=feed&amp;type=rss" rel="alternate" type="application/rss+xml" title="RSS 2.0" />
    <link href="/index.php?format=feed&amp;type=atom" rel="alternate" type="application/atom+xml" title="Atom 1.0" />
    <link href="/templates/equipfitnesstheme-black-blue/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="http://www.veritema.com/modules/mod_highlighter_gk4/interface/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/modules/mod_AutsonSlideShow/css/skitter.css" type="text/css" />
    <style type="text/css">
        #gkHighlighterGK4-gkHighlight_132 .gkHighlighterInterface span.text {
            color: #fff;
        }

        #gkHighlighterGK4-gkHighlight_132 .gkHighlighterInterface {
            background-color: #666666;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
        }
    </style>
    <script src="/media/system/js/mootools-core.js" type="text/javascript"></script>
    <script src="/media/system/js/core.js" type="text/javascript"></script>
    <script src="/media/system/js/caption.js" type="text/javascript"></script>
    <script src="/plugins/system/kc_cufon/js/cufon-yui.js" type="text/javascript"></script>
    <script src="/plugins/system/kc_cufon/fonts/Bebas_Neue_400.font.js" type="text/javascript"></script>
    <script src="/plugins/system/kc_cufon/fonts/Droid_Sans_400.font.js" type="text/javascript"></script>
    <script src="http://www.veritema.com/modules/mod_highlighter_gk4/interface/scripts/engine.js" type="text/javascript"></script>
    <script type="text/javascript">
window.addEvent('load', function() {
				new JCaption('img.caption');
			});
    </script>
    <style type="text/css">
        /* <![CDATA[ */ .cufon-loading .title1 {
            visibility: hidden !important;
        }

        .cufon-loading .tagline {
            visibility: hidden !important;
        }

        .cufon-loading .showcase2 {
            visibility: hidden !important;
        }

        .cufon-loading .subtitle {
            visibility: hidden !important;
        }

        .cufon-loading .intro {
            visibility: hidden !important;
        }

        .cufon-loading h1 {
            visibility: hidden !important;
        }

        .cufon-loading .componentheading {
            visibility: hidden !important;
        }

        .cufon-loading h2 {
            visibility: hidden !important;
        }

        .cufon-loading .contentheading {
            visibility: hidden !important;
        }

        .cufon-loading h3 {
            visibility: hidden !important;
        }
        /* ]]> */
    </style>


    <style undefined="">
        .dnn {
            position: absolute;
            top: -9999px;
        }
    </style>



    <style type="text/css">
        .box_skitter_large93 {
            width: 700px;
            height: 390px;
        }






        .box_skitter_small {
            width: 200px;
            height: 200px;
        }



        .box_skitter {
            border: 0px solid #000;
            background: #000;
        }

        .label_skitter h5 {
            padding-left: 10px !important;
        }

            .label_skitter h5, .label_skitter h5 a {
                margin: 0;
                font-family: BebasNeueRegular !important;
                font-size: 22px !important;
                font-weight: normal !important;
                text-decoration: none !important;
                padding-right: 5px !important;
                padding-bottom: 0px !important;
                padding-top: 5px !important;
                color: #fff !important;
                line-height: 27px !important;
                display: block !important;
                text-align: left !important;
            }



        .label_skitter p {
            letter-spacing: 0.4px !important;
            line-height: 15px !important;
            margin: 0 !important;
            font-family: Arial, Helvetica, sans-serif !important;
            font-size: 10px !important;
            padding-left: 10px !important;
            padding-right: 5px !important;
            padding-bottom: 2px !important;
            padding-top: 0px !important;
            color: #fff !important;
            z-index: 10 !important;
            display: block !important;
            text-align: left !important;
        }
    </style>

    <script src="http://www.veritema.com/modules/mod_AutsonSlideShow/js/jquery-1.5.2.min.js" type="text/javascript"></script>
    <script src="http://www.veritema.com/modules/mod_AutsonSlideShow/js/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="http://www.veritema.com/modules/mod_AutsonSlideShow/js/jquery.animate-colors-min.js" type="text/javascript"></script>
    <script src="http://www.veritema.com/modules/mod_AutsonSlideShow/js/jquery.skitter.min.js" type="text/javascript"></script>
    <script type="text/javascript"> Cufon.replace(".title1", { fontFamily: "Bebas Neue" });Cufon.replace(" .tagline", { fontFamily: "Bebas Neue" });Cufon.replace(" .showcase2", { fontFamily: "Bebas Neue" });Cufon.replace(".subtitle", { fontFamily: "Droid Sans" });Cufon.replace(" .intro", { fontFamily: "Droid Sans" });Cufon.replace(" h1", { fontFamily: "Droid Sans" });Cufon.replace(".componentheading", { fontFamily: "Droid Sans" });Cufon.replace(" h2", { fontFamily: "Droid Sans" });Cufon.replace(".contentheading", { fontFamily: "Droid Sans" });Cufon.replace(" h3", { fontFamily: "Droid Sans" }); </script>
    <script type="text/javascript" src="http://www.veritema.com/modules/mod_swmenufree/transmenu_Packed.js"></script>
    <style type='text/css'>
        <!--
        .transMenu {
            position: absolute;
            overflow: hidden;
            left: -1000px;
            top: -1000px;
        }

            .transMenu .content {
                position: absolute;
            }

            .transMenu .items {
                border: 0px none #FFFFFF;
                position: relative;
                left: 0px;
                top: 0px;
                z-index: 2;
            }

            .transMenu td {
                padding: 7px 5px 8px 14px !important;
                font-size: 12px !important;
                font-family: Verdana, Arial, Helvetica, sans-serif !important;
                text-align: left !important;
                font-weight: normal !important;
                color: #e7e7e7 !important;
            }

        #subwrap {
            text-align: left;
        }

        .transMenu .item.hover td {
            color: #ffffff !important;
        }

        .transMenu .item {
            text-decoration: none;
            cursor: pointer;
            cursor: hand;
        }

        .transMenu .background {
            background-image: none;
            background-color: #2a2a2a !important;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 1;
            opacity: 0.9;
            filter: alpha(opacity=90);
        }

        .transMenu .shadowRight {
            position: absolute;
            z-index: 3;
            top: -3000px;
            width: 2px;
            opacity: 0.9;
            filter: alpha(opacity=90);
        }

        .transMenu .shadowBottom {
            position: absolute;
            z-index: 1;
            left: -3000px;
            height: 2px;
            opacity: 0.9;
            filter: alpha(opacity=90);
        }

        .transMenu .item.hover {
            background-image: none;
            background-color: #212121 !important;
        }

        .transMenu .item img {
            margin-left: 10px !important;
        }

        table.swmenu {
            top: 0px;
            left: 0px;
            position: relative;
            margin: 0px !important;
            border: 0px none #FFFFFF;
            z-index: 1;
        }

            table.swmenu a {
                margin: 0px !important;
                padding: 10px 14px 11px 14px !important;
                display: block !important;
                position: relative !important;
            }

        div.swmenu a,
        div.swmenu a:visited,
        div.swmenu a:link {
            font-size: 12px !important;
            font-family: Verdana, Arial, Helvetica, sans-serif !important;
            text-align: left !important;
            font-weight: normal !important;
            color: #e7e7e7 !important;
            text-decoration: none !important;
            margin-bottom: 0px !important;
            display: block !important;
            white-space: nowrap;
        }

        div.swmenu td {
            border-bottom: 0px solid #FFFFFF;
            border-top: 0px solid #FFFFFF;
            border-left: 0px solid #FFFFFF;
            background-image: none;
        }

            div.swmenu td.last {
                border-right: 0px solid #FFFFFF;
            }

        #trans-active a {
            color: #ffffff !important;
            background-image: URL("http://www.veritema.com/modules/mod_swmenufree/images/menu_hover.png");
        }

        #swmenu a.hover {
            background-image: URL("http://www.veritema.com/modules/mod_swmenufree/images/menu_hover.png");
            color: #ffffff !important;
        }

        #swmenu span {
            display: none;
        }

        -->
    </style>


    <link rel="stylesheet" href="@Url.Content("/templates/_system/css/general.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("/templates/equipfitnesstheme-black-blue/css/template.css")" type="text/css" />

    <link href="/css/template.css" rel="stylesheet" type="text/css" />




    <title>SMALL CIRCLE HAPKIDO</title>


    <link href="@Url.Content("/templates/equipfitnesstheme-black-blue/css/editor.css")" rel="stylesheet">
    <link href="@Url.Content("/templates/equipfitnesstheme-black-blue/css/template.css")" rel="stylesheet">
</head>
<body>


    <div id="wrapper">

        <div id="headerwrap">
            <div id="header">

                <div id="logo">
                    <div class="moduletable_logo">


                        <div class="custom_logo">
                            <p><a href="/index.php" target="_self"><img src="~/images/site/equip-joomla-fitness-theme-logo.png" border="0" alt="equip-joomla-fitness-theme-logo" title="Equip Joomla Fitness Theme" width="149" height="151" /></a></p>
                        </div>
                    </div>
                </div>

                <div id="tagline">
                    <div class="moduletable_tagline">

                        <div class="custom_tagline">
                            <p><span class="tagline">SMALL CIRCLE HAPKIDO<br /></span></p>
                        </div>

                    </div>
                </div>

                <div id="headinfo">
                    <div class="moduletable_headinfo">


                        <div class="custom_headinfo">
                            <p><a href="http://www.facebook.com/rima.kickboxNC" target="_blank"><img src="/images/social-icons/facebook2.png" border="0" alt="" /></a>&nbsp;<a href="https://twitter.com/intent/follow?screen_name=4kickbox" target="_blank"><img src="/images/social-icons/twitter2.png" border="0" alt="" /></a>&nbsp;<a href="http://www.4kickbox.com/" target="_blank"><img src="/images/site/rima logo.JPG" border="0" alt="" width="33" height="29" style="cursor: se-resize !important;" /></a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="navdivwrap">
            <div id="navdiv">

                <div id="navmenu">


                    <!--swMenuFree6.5_J1.7 transmenu by http://www.swmenupro.com-->
                    <div id="sw-wrap" class="swmenu" align="right">
                        <table cellspacing="0" cellpadding="0" id="swmenu" class="swmenu">
                            <tbody>
                                <tr>
                                    <td>
                                        <a id="menu435" href="/Home" class="">Home</a>
                                    </td>
                                    <td>
                                        <a id="menu513" href="/Classes">Classes</a>
                                    </td>
                                    <td>
                                        <a id="menu514" href="/Schedule" class="">Schedule</a>
                                    </td>
                                    <td>
                                        <a id="menu515" href="/Memberships" class="">Memberships</a>
                                    </td>
                                    <td>
                                        <a id="menu516" href="/Gallery" class="">Gallery</a>
                                    </td>
                                    <td>
                                        <a id="menu517" href="/index.php/news" class="">News</a>
                                    </td>
                                    <td>
                                        <a id="menu480" href="/Contact" class="">Contact</a>
                                    </td>
                                    <td class="last">
                                        <a id="menu564" href="/Systems" class="">Specialties</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="subwrap">
                        <script type="text/javascript">
                            if (TransMenu.isSupported()) {
                                var ms = new TransMenuSet(TransMenu.direction.down, 0, 0, TransMenu.reference.bottomLeft);
                                var menu513 = ms.addMenu(document.getElementById("menu513"));
                                menu513.addItem("Hapkido", "/Classes/Hapkido", "0");
                                menu513.addItem("Brazilian Jiu-Jitsu", "/Classes/BJJ", "0");
                                menu513.addItem("Fitness Kickboxing", "/Classes/Kickboxing", "0");
                                menu513.addItem("Judo", "/Classes/Judo", "0");
                                menu513.addItem("Muay Thai", "/Classes/MuayThai", "0");
                                menu513.addItem("Tai Chi", "/Classes/TaiChi", "0");

                                var menu480 = ms.addMenu(document.getElementById("menu480"));
                                menu480.addItem("Directions", "/Contact/Directions", "0");

                                var menu564 = ms.addMenu(document.getElementById("menu564"));
                                menu564.addItem("Law Enforcement", "/Systems/LawEnforcement", "0");
                                menu564.addItem("Weapons Training", "/Systems/WeaponsTraining", "0");
                                menu564.addItem("Executive Protection ", "/Systems/executiveProtectionTraining", "0");
                                menu564.addItem("Seminars", "/Systems/Seminars", "0");
                                menu564.addItem("Private Lessons", "/Systems/PrivateLessons", "0");
                                function init() {
                                    if (TransMenu.isSupported()) {
                                        TransMenu.initialize();
                                        document.getElementById("menu435").onmouseover = function () {
                                            ms.hideCurrent();
                                            this.className = "hover";
                                        }
                                        document.getElementById("menu435").onmouseout = function () { this.className = ""; }
                                        menu513.onactivate = function () { document.getElementById("menu513").className = "hover"; };
                                        menu513.ondeactivate = function () { document.getElementById("menu513").className = ""; };
                                        document.getElementById("menu514").onmouseover = function () {
                                            ms.hideCurrent();
                                            this.className = "hover";
                                        }
                                        document.getElementById("menu514").onmouseout = function () { this.className = ""; }
                                        document.getElementById("menu515").onmouseover = function () {
                                            ms.hideCurrent();
                                            this.className = "hover";
                                        }
                                        document.getElementById("menu515").onmouseout = function () { this.className = ""; }
                                        document.getElementById("menu516").onmouseover = function () {
                                            ms.hideCurrent();
                                            this.className = "hover";
                                        }
                                        document.getElementById("menu516").onmouseout = function () { this.className = ""; }
                                        document.getElementById("menu517").onmouseover = function () {
                                            ms.hideCurrent();
                                            this.className = "hover";
                                        }
                                        document.getElementById("menu517").onmouseout = function () { this.className = ""; }
                                        menu480.onactivate = function () { document.getElementById("menu480").className = "hover"; };
                                        menu480.ondeactivate = function () { document.getElementById("menu480").className = ""; };
                                        menu564.onactivate = function () { document.getElementById("menu564").className = "hover"; };
                                        menu564.ondeactivate = function () { document.getElementById("menu564").className = ""; };
                                    }
                                }
                                TransMenu.spacerGif = "http://www.veritema.com/modules/mod_swmenufree/images/transmenu/x.gif";
                                TransMenu.dingbatOn = "http://www.veritema.com/modules/mod_swmenufree/images/transmenu/whiteleft-on.gif";
                                TransMenu.dingbatOff = "http://www.veritema.com/modules/mod_swmenufree/images/transmenu/whiteleft-off.gif";
                                TransMenu.sub_indicator = true;
                                TransMenu.menuPadding = 0;
                                TransMenu.itemPadding = 0;
                                TransMenu.shadowSize = 2;
                                TransMenu.shadowOffset = 3;
                                TransMenu.shadowColor = "#888";
                                TransMenu.shadowPng = "http://www.veritema.com/modules/mod_swmenufree/images/transmenu/grey-40.png";
                                TransMenu.backgroundColor = "#2a2a2a";
                                TransMenu.backgroundPng = "http://www.veritema.com/modules/mod_swmenufree/images/transmenu/white-90.png";
                                TransMenu.hideDelay = 600;
                                TransMenu.slideTime = 300;
                                TransMenu.selecthack = 0;
                                TransMenu.autoposition = 0;
                                TransMenu.renderAll();
                                if (typeof window.addEventListener != "undefined")
                                    window.addEventListener("load", init, false);
                                else if (typeof window.attachEvent != "undefined") {
                                    window.attachEvent("onload", init);
                                } else {
                                    if (window.onload != null) {
                                        var oldOnload = window.onload;
                                        window.onload = function (e) {
                                            oldOnload(e);
                                            init();
                                        }
                                    } else
                                        window.onload = init();
                                }
                            }

                        </script><div id="TransMenu0" class="transMenu top" style="width: 162px; height: 208px; visibility: hidden; left: 475px; top: 40px; z-index: 102;"><div class="content" style="width: 160px; height: 206px; top: -206px;"><table class="items" cellpadding="0" cellspacing="0" border="0"><tbody><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu0-0" border="0">Hapkido</td><td style="border:none;padding:0px; padding-right:0px;"><img src="http://www.veritema.com/modules/mod_swmenufree/images/transmenu/x.gif" border="0" /></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu0-1" border="0">Brazilian Jiu-Jitsu</td><td style="border:none;padding:0px; padding-right:0px;"><img src="http://www.veritema.com/modules/mod_swmenufree/images/transmenu/x.gif" border="0" /></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu0-2" border="0">Fitness Kickboxing</td><td style="border:none;padding:0px; padding-right:0px;"><img src="http://www.veritema.com/modules/mod_swmenufree/images/transmenu/x.gif" border="0" /></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu0-3" border="0">Judo</td><td style="border:none;padding:0px; padding-right:0px;"><img src="http://www.veritema.com/modules/mod_swmenufree/images/transmenu/x.gif" border="0" /></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu0-4" border="0">Muay Thai</td><td style="border:none;padding:0px; padding-right:0px;"><img src="http://www.veritema.com/modules/mod_swmenufree/images/transmenu/x.gif" border="0" /></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu0-5" border="0">Tai Chi</td><td style="border:none;padding:0px; padding-right:0px;"><img src="http://www.veritema.com/modules/mod_swmenufree/images/transmenu/x.gif" border="0" /></td></tr></tbody></table><div class="shadowBottom" style="top: 204px; width: 155px; background-color: rgb(136, 136, 136);"></div><div class="shadowRight" style="left: 158px; height: 203px; background-color: rgb(136, 136, 136);"></div><div class="background" style="width: 158px; height: 204px; background-color: rgb(42, 42, 42);"></div></div></div><div id="TransMenu1" class="transMenu top" style="width: 112px; height: 38px; visibility: hidden;"><div class="content" style="width: 110px; height: 36px; top: -38px;"><table class="items" cellpadding="0" cellspacing="0" border="0"><tbody><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu1-0" border="0">Directions</td><td style="border:none;padding:0px; padding-right:0px;"><img src="http://www.veritema.com/modules/mod_swmenufree/images/transmenu/x.gif" border="0" /></td></tr></tbody></table><div class="shadowBottom" style="top: 34px; width: 105px; background-color: rgb(136, 136, 136);"></div><div class="shadowRight" style="left: 108px; height: 33px; background-color: rgb(136, 136, 136);"></div><div class="background" style="width: 108px; height: 34px; background-color: rgb(42, 42, 42);"></div></div></div><div id="TransMenu2" class="transMenu top" style="width: 175px; height: 174px; visibility: hidden;"><div class="content" style="width: 173px; height: 172px; top: -174px;"><table class="items" cellpadding="0" cellspacing="0" border="0"><tbody><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu2-0" border="0">Law Enforcement</td><td style="border:none;padding:0px; padding-right:0px;"><img src="http://www.veritema.com/modules/mod_swmenufree/images/transmenu/x.gif" border="0" /></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu2-1" border="0">Weapons Training</td><td style="border:none;padding:0px; padding-right:0px;"><img src="http://www.veritema.com/modules/mod_swmenufree/images/transmenu/x.gif" border="0" /></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu2-2" border="0">Executive Protection </td><td style="border:none;padding:0px; padding-right:0px;"><img src="http://www.veritema.com/modules/mod_swmenufree/images/transmenu/x.gif" border="0" /></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu2-3" border="0">Seminars</td><td style="border:none;padding:0px; padding-right:0px;"><img src="http://www.veritema.com/modules/mod_swmenufree/images/transmenu/x.gif" border="0" /></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu2-4" border="0">Private Lessons</td><td style="border:none;padding:0px; padding-right:0px;"><img src="http://www.veritema.com/modules/mod_swmenufree/images/transmenu/x.gif" border="0" /></td></tr></tbody></table><div class="shadowBottom" style="top: 170px; width: 168px; background-color: rgb(136, 136, 136);"></div><div class="shadowRight" style="left: 171px; height: 169px; background-color: rgb(136, 136, 136);"></div><div class="background" style="width: 171px; height: 170px; background-color: rgb(42, 42, 42);"></div></div></div>
                    </div>
                    <!--End swMenuFree menu module-->
                </div>

            </div>
        </div>
        <div id="maindivwrap">
            <div id="container">
                <div id="topspacer"></div>
            </div>

            @RenderBody()

        </div>
    </div>
        <div id="bottomwrap">
            <div id="bottom">


                <div id="bottom1" style="width:320px;">
                    <div class="moduletable_bottom">


                        <div class="custom_bottom">
                            <div align="center"><span class="title1"><img src="/images/site/clock-icon.png" border="0" alt="clock-icon" width="30" height="30" style="margin-right: 10px; vertical-align: middle;"><cufon class="cufon cufon-canvas" alt="HOME " style="width: 46px; height: 24px;"><canvas width="59" height="23" style="width: 59px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>HOME </cufontext></cufon><cufon class="cufon cufon-canvas" alt="TRAINING " style="width: 72px; height: 24px;"><canvas width="84" height="23" style="width: 84px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>TRAINING </cufontext></cufon><cufon class="cufon cufon-canvas" alt="AVAILABLE" style="width: 78px; height: 24px;"><canvas width="86" height="23" style="width: 86px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>AVAILABLE</cufontext></cufon></span></div>
                        </div>
                    </div>
                </div>

                <div id="bottom2" style="width:320px;">
                    <div class="moduletable_bottom">
                        <div class="custom_bottom">
                            <div align="center"><span class="title1"><span class="title1"><cufon class="cufon cufon-canvas" alt="&nbsp;OVER " style="width: 46px; height: 24px;"><canvas width="58" height="23" style="width: 58px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>&nbsp;OVER </cufontext></cufon><cufon class="cufon cufon-canvas" alt="10 " style="width: 23px; height: 24px;"><canvas width="36" height="23" style="width: 36px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>10 </cufontext></cufon><cufon class="cufon cufon-canvas" alt="SERVICE " style="width: 64px; height: 24px;"><canvas width="77" height="23" style="width: 77px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>SERVICE </cufontext></cufon><cufon class="cufon cufon-canvas" alt="OPTIONS" style="width: 61px; height: 24px;"><canvas width="69" height="23" style="width: 69px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>OPTIONS</cufontext></cufon></span></span></div>
                        </div>
                    </div>
                </div>

                <div id="bottom3" style="width:320px;">
                    <div class="moduletable_bottom">


                        <div class="custom_bottom">
                            <div align="center"><span class="title1"><span class="title1"><img style="margin-right: 10px; vertical-align: middle;" alt="money-icon" src="/images/site/money-icon.png" height="30" width="30"></span><cufon class="cufon cufon-canvas" alt="Free " style="width: 40px; height: 24px;"><canvas width="52" height="23" style="width: 52px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>Free </cufontext></cufon><cufon class="cufon cufon-canvas" alt="PT " style="width: 22px; height: 24px;"><canvas width="34" height="23" style="width: 34px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>PT </cufontext></cufon><cufon class="cufon cufon-canvas" alt="with " style="width: 41px; height: 24px;"><canvas width="54" height="23" style="width: 54px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>with </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Membership" style="width: 97px; height: 24px;"><canvas width="104" height="23" style="width: 104px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>Membership</cufontext></cufon><br></span></div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div id="footerwrap">
            <div id="footer">
                <div id="footer1" style="width:320px;">
                    <div class="moduletable_footer">
                        <h3><cufon class="cufon cufon-canvas" alt="About " style="width: 50px; height: 16px;"><canvas width="63" height="17" style="width: 63px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>About </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Small " style="width: 46px; height: 16px;"><canvas width="59" height="17" style="width: 59px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Small </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Circle " style="width: 47px; height: 16px;"><canvas width="60" height="17" style="width: 60px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Circle </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Hapkido" style="width: 63px; height: 16px;"><canvas width="71" height="17" style="width: 71px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Hapkido</cufontext></cufon></h3>


                        <div class="custom_footer">
                            <p>As the official martial art of the South Korean Secret Service,&nbsp;Hapkido contains both long and close range fighting techniques which&nbsp;utilizing Diana mic kicks and percussive hand strikes at longer ranges, joint locks, or throws at closer fighting distances. Hapkido emphasizes circular motion, non-resisting movements, and control of the opponent. Practitioners seek to gain advantage through footwork and body positioning to employ leverage, avoiding the use of strength against strength and much-much more.<span style="color: #222222; font-family: 'Calibri','sans-serif'; font-size: 11pt; mso-ascii-theme-font: minor-latin; mso-fareast-font-family: Calibri; mso-fareast-theme-font: minor-latin; mso-hansi-theme-font: minor-latin; mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: minor-bidi; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;"><br style="word-spacing: 0px; -webkit-text-stroke-width: 0px; mso-special-character: line-break;">&nbsp;<br style="mso-special-character: line-break;"> </span><br><a href="http://themeforest.net/user/webunderdog/portfolio?ref=webunderdog" target="_blank" title="Themeforest"></a></p>
                        </div>
                    </div>
                </div>

                <div id="footer2" style="width:320px;">
                    <div class="moduletable_footer">
                        <h3><cufon class="cufon cufon-canvas" alt="Latest " style="width: 50px; height: 16px;"><canvas width="63" height="17" style="width: 63px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Latest </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Headlines" style="width: 75px; height: 16px;"><canvas width="85" height="17" style="width: 85px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Headlines</cufontext></cufon></h3>
                        <div class="custom_footer">
                            <div class="footer-blocknumber footer-blocknumber">1</div>
                            <p>Small Circle Hapkido Uniforms and attire coming soon <br><br></p>
                            <div class="footer-blocknumber">2</div>
                            <p>Hapkido No holds bar Tournament coming soon. <br><br></p>
                            <div class="footer-blocknumber">3</div>
                            <p>Hapkido promotions<br><br></p>
                            <div class="footer-blocknumber">4</div>
                            <p>Hapkido seminars for the year</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="copydivwrap">
            <div id="copydiv">

                <div id="copy1">
                    <div class="moduletable_copy">


                        <div class="custom_copy">
                            <p>© 2013 Veritema Martial Arts&nbsp;|&nbsp; All rights reserved.</p>
                        </div>
                    </div>
                </div>

                <div id="copy2">
                    <div class="moduletable_copy">


                        <div class="custom_copy">
                            <p>Designed&nbsp;by <a href="http://www.natton.net" target="_blank">Natton</a>&nbsp;Inc.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>