
<style>
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        max-width: 100%;
        line-height: 1;
        width: 100%;
        height:100%;
    }

    #panel-sidebar {
        color: #ffffff;
    }

    .italics-box {
        border: 1px dotted;
        color: #777777;
        background-color: #e7e7e7;
        border: #c2c2c2;
        font-style: italic;
        padding: 10px 20px 0px 20px;
        font-size: 12px;
        display: block;
    }

    .remove-all-margin-padding {
        margin: 0 !important;
        padding: 0 !important;
    }

    .maindiv-intro {
        background-color: #3d3d3d;
        background-repeat: repeat-x;
        text-align: center;
        color: #ccc;
    }

      .maindiv-intro > p {
          padding-left: 8px;
          padding-right: 8px;
      }

      #showcase_small {
          margin-bottom: 5px;
      }

  .carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
</style>
<link href="@Url.Content("/css/jplayer.blue.monday.css")" rel="stylesheet" />

<div class="row-fluid">
    <div class="col-md-8">

    </div>
    <div class="col-md-4">
   
    </div>
</div>

<div class="container" id="carousel-contain">
    <div class="row">
            <div id="showcase"  class="hidden-xs">
                <div id="showcase1">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="/images/mountain_screen.png" border="0" alt="">

                            </div>

                            <div class="item">

                            </div>

                            <div class="item">

                            </div>


                        </div>

                    </div>
                </div>
                <div id="showcase2">
                    <div id="showcase2-1">
                        <div class="moduletable_showcase2">
                            <div class="custom_showcase2">
                                <span style="color: #ffffff; text-align: right">
                                    This Month
                                </span>
                                <br />
                                <span style="color: #ffffff; text-align: right;  font-weight:bold">
                                    ONE WEEK FREE TRIAL<br />
                                </span>
                                <p></p>
                                <span class="pull-right hidden-sm hidden-xs">
                                    <button id="btnLearnMore_lg" class="btn-md btn-primary">Learn More</button>
                                </span>
                                <span class="pull-right hidden-lg hidden-md">
                                    <button id="btnLearnMore_sm" class="btn-sm btn-primary">Learn More</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="showcase2-2">
                        <div class="moduletable_showcase2">
                            <div class="custom_showcase2">
                                <span style="color: #ffffff; text-align: right">
                                    Purchase Uniforms
                                </span>
                                <br />
                                <span style="color: #ffffff; text-align: right; font-weight:bold">
                                    GIS AND RASH GUARDS
                                </span>
                                <p></p>
                                <span class="pull-right hidden-sm hidden-xs">
                                    <button id="btnStore_lg" class="btn-sm btn-primary">Visit Our Store</button>
                                </span>
                                <span class="pull-right hidden-lg hidden-md">
                                    <button id="btnStore_sm" class="btn-md btn-primary">Visit Our Store</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="showcase2-3">
                        <div class="moduletable_showcase2">
                            <div class="custom_showcase2">
                                <span style="color: #ffffff; text-align: right">
                                    Instructor Classes
                                </span>
                                <br />
                                <span style="color: #ffffff; text-align: right; font-weight:bold">
                                    SEMINARS - Updated 12.21.2017
                                </span>
                                <p></p>
                             
                                <span class="pull-right hidden-sm hidden-xs">
                                    <button id="btnEvents_lg" class="btn-md btn-primary">Events Calendar</button>
                                </span>
                                <span class="pull-right hidden-lg hidden-md">
                                    <button id="btnEvents_sm"  class="btn-sm btn-primary">Events Calendar</button>
                                </span>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row maindiv-intro">
            <p style="font-size: large;font-weight:bold">SMALL CIRCLE HAPKIDO CREED </p>
            <p></p>
            <p style="font-size: medium">
                To build true self-confidence through knowledge in the mind, honest in the heart, and strength in the body.
            </p>
            <p></p>
            <p style="font-size: medium">
                To develop love and trust with family and friends, show respect to seniors and to form a strong and happy world.
            </p>
            <p></p>
            <p style="font-size: medium">
                Never to fight for selfish goals, but to defend life, justice, and peace.
            </p>
        </div>
    </div> 
<div class="row-fluid">
    <div class="col-md-4 col-lg-4" style="padding-top: 15px; padding-bottom: 15px">
        <span class="badge" style="background-color: #404040"><span class="glyphicon glyphicon-align-left glyphicon-calendar" aria-hidden="true"></span></span>
        <span>Available NOW!</span>
        <p></p>
        <span>Gift certificates for private lessons, classes and equipment are available at $30.00, $60.00 and $90.00 increments.</span>
    </div>
    <div class="col-md-4 col-lg-4" style="padding-top: 15px; padding-bottom: 15px">
        <span class="badge" style="background-color: #404040"><span class="glyphicon glyphicon-align-left glyphicon-thumbs-up"></span></span>
        <span>BIG BROTHER PROGRAM</span>
        <p></p>
        <span>Is your Teen an at risk juvenile? We can help by placing them in a personalized mentor program that teaches honor and respect.</span>
    </div>
    <div class="col-md-4 col-lg-4" style="padding-top: 15px; padding-bottom: 15px">
        <span class="badge" style="background-color: #404040"><span class="glyphicon glyphicon-align-left glyphicon-certificate"></span></span>
        <span>BULLYPROOF YOUR CHILDREN</span>
        <p></p>
        <span>Children from ages 5 to 12 can find their courage in our Little Dragons program. This class allows kids to embrace martial arts and helps build life skills.</span>
    </div>
    <div class="col-md-12 italics-box">
        <p style="text-align: center;" align="center"><strong><span style="font-family: 'Arial Black','sans-serif';">FITNESS KICKBOXING - MUAY THAI - BRAZILIAN JIU-JITSU - HAPKIDO - CONDITIONING - TAI CHI CHAUN - JUDO</span></strong></p>

    </div>
    <div class="row-fluid">
        <div class="col-md-3" style="padding-top: 20px; padding-bottom: 15px">
            <p style="font-size:large">Save 50% Today</p>
            Whether you are trying to get in shape or stay in shape. We have it all for the whole family, and the martial arts training you will receive is second to none, call us today and save 50% off on your first month.
        </div>
        <div class="col-md-3" style="padding-top: 20px; padding-bottom: 15px">
            <img src="/images/gallerymodule/bjj_front.jpg" border="0" alt="">
        </div>
        <div class="col-md-3" style="padding-top: 20px; padding-bottom: 15px">
            <img src="/images/gallerymodule/muay-thai_front.jpg" border="0" alt="">
        </div>
        <div class="col-md-3" style="padding-top: 20px; padding-bottom: 15px">
            <img src="/images/gallerymodule/Judo_front.jpg" border="0" alt="">
        </div>
    </div>
    <!--
    <div id="bottom" class="row-fluid">
        <div class="col-md-4 col-lg-4" style="padding-top: 15px; padding-bottom: 15px">
            <span class="title1">
                <span class="badge" style="background-color: #404040"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
                HOME TRAINING AVAILABLE
            </span>
        </div>

        <div class="col-md-4 col-lg-4" style="padding-top: 15px; padding-bottom: 15px">
            <span class="title1">
                OPEN 10 SERVICE OPTIONS
            </span>
        </div>

        <div class="col-md-4 col-lg-4" style="padding-top: 15px; padding-bottom: 15px">
            <span class="title1">
                <span class="badge" style="background-color: #404040"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></span>
                FREE PT WITH MEMBERSHIP
            </span>
        </div>
    </div>
        -->
</div>


<script type="text/javascript">
    //<![CDATA[
    

    $(document).ready(function () {

      
        $('#jquery_jplayer_1').jPlayer({
            swfPath: '../dist/jplayer',
            solution: 'html, flash',
            supplied: 'webmv, ogv, m4v',
            preload: 'metadata',
            volume: 0.8,
            muted: false,
            backgroundColor: '#000000',
            cssSelectorAncestor: '#jp_container_1',
            cssSelector: {
                videoPlay: '.jp-video-play',
                play: '.jp-play',
                pause: '.jp-pause',
                stop: '.jp-stop',
                seekBar: '.jp-seek-bar',
                playBar: '.jp-play-bar',
                mute: '.jp-mute',
                unmute: '.jp-unmute',
                volumeBar: '.jp-volume-bar',
                volumeBarValue: '.jp-volume-bar-value',
                volumeMax: '.jp-volume-max',
                playbackRateBar: '.jp-playback-rate-bar',
                playbackRateBarValue: '.jp-playback-rate-bar-value',
                currentTime: '.jp-current-time',
                duration: '.jp-duration',
                title: '.jp-title',
                fullScreen: '.jp-full-screen',
                restoreScreen: '.jp-restore-screen',
                repeat: '.jp-repeat',
                repeatOff: '.jp-repeat-off',
                gui: '.jp-gui',
                noSolution: '.jp-no-solution'
            },
            errorAlerts: false,
            warningAlerts: false
        });


    });
//]]>
</script>





<script>
    $(document).ready(function () {
        // clear it out with pure javascript - quicker
        $("#headerBreadCrumbs").text('');
        $("#headerBreadCrumbs").append("<li><a href='#'>Home</a></li>");
    });


    $('#btnLearnMore_lg').click(function () {
        var url = '@Url.Action("Index", "Contact", new { })';
        window.location.href = url;
    });
    $('#btnLearnMore_sm').click(function () {
        var url = '@Url.Action("Index", "Contact", new { })';
        window.location.href = url;
    });

    $('#btnStore_sm').click(function () {
        window.open('https://squareup.com/market/small-circle-hapkido');
    });
    $('#btnStore_lg').click(function () {
        window.open('https://squareup.com/market/small-circle-hapkido');
    });

    $('#btnEvents_sm').click(function () {
        var url = '@Url.Action("Index", "Events", new { })';
        window.location.href = url;
    });
    $('#btnEvents_lg').click(function () {
        var url = '@Url.Action("Index", "Events", new { })';
        window.location.href = url;
    });


</script>











